.container {
  padding: 0 2rem;
  background-color: #000;
  color: #fff;
}

.main {
  min-height: 100vh;
  padding: 4rem 0 8rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 640px;
  margin: 0 auto;
  position: relative;
}

.title b {
  color: #f5a623;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.circleTop {
  top: 24px;
}

.circleBottom {
  bottom: 1px;
}

.circleTop,
.circleBottom {
  position: absolute;
  z-index: 2;
  left: -101px;
  height: 24px;
  width: 24px;
  background-color: #ef3d23;
  border-radius: 50%;
}

.separator {
  top: 30px;
  left: -90px;
  width: 2px;
  bottom: 30px;
  position: absolute;
  background: radial-gradient(
    ellipse 4px 6px,
    #fff 20%,
    #fff 30%,
    transparent 30%
  );
  background-size: 10px 10px;
  background-repeat: repeat-y;
  background-position: center 0;
}

.description {
  margin: 4rem 0 1rem;
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: left;
}

.description b {
  color: #50e3c2;
}

.experiences {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 3em;
}

.experiencesTitle {
  margin-bottom: 1rem;
}

.experience {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.experience h3 {
  cursor: pointer;
}

.experience :not(h3) a {
  border-bottom: 1px dashed;
  border-color: #3291ff;
  cursor: pointer;
  /* color: #ef3d23; */
}

.experience b {
  color: #50e3c2;
}

.experiences .current {
  color: #f5a623;
  margin-right: 8px;
}

.experiences h3 .test {
  color: #fff500;
  font-size: 15px;
  margin-left: 8px;
  font-weight: 200;
}

.personnal {
  display: flex;
  flex-direction: column;
  position: relative;
  position: relative;
  row-gap: 1em;
}

.infoWrapper {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  left: -135px;
  top: 96px;
  border: 1px dashed #fff;
  padding: 16px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact b {
  color: #f5a623;
}
